{% extends 'portfolio/base.html' %} {% block content %} 
    <div class="container mt-3">
      <h1 class="h1">Welcome to my Blog Page</h1>
      <hr>
      <br>
      <h2 class="text-warning">This page has uploaded {{ Blog.count }} blog{{Blog.count|pluralize}}</h2>
      <br>
      {% for blog in Blog %}
      <h2>{{ blog.title }}</h2>
      <a href="{% url 'blog:detail' blog.id %}"><b>{{ blog.title }}</b></a>
      <h5 class="text-primary">{{ blog.date | date:'M d Y' | upper}}</h3>
      <ul class="list-group">
        <li class="list-group-item">{{ blog.description |safe| truncatechars:100}}</li>
      </ul>
      {% endfor %}
      <hr>
    </div>
{% endblock %}